{#include main_layout title="Product Detail - {product.name}"}
    {#navigation}
        <a href="/products">🏠 Back to List</a>
    {/navigation}

    <h1>Product Details</h1>
    <div class="card bg-base-100 w-full shadow-sm">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes"
          class="w-full" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{product.name}</h2>
        <p>{product.description ?: 'No description provided.'}</p>
        <div class="overflow-x-auto">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>ID:</td>
                <td>{product.id}</td>
              </tr>
              <tr>
                <td>SKU:</td>
                <td>{product.sku}</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>${product.price}</td>
              </tr>
              <tr>
                <td>Stock Quantity:</td>
                <td>{product.stockQuantity}</td>
              </tr>
              <tr>
                <td>Category:</td>
                <td>{product.category ?: 'N/A'}</td>
              </tr>
              <tr>
                <td>Status:</td>
                <td>{product.status ?: 'ACTIVE'}</td>
              </tr>
              <tr>
                <td>Description:</td>
                <td>{product.description ?: 'No description provided.'}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a href="/products" class="back-link">&larr; Back to Product List</a>
{/include}
